/* $Id: lattekom.css,v 1.14 2004/09/17 13:42:02 pajp Exp $ */

body {
  margin: 1em 1em 2em 0.5em;
  font-family: sans-serif;
  color: black;
  background: #ffffee;
}

a {
  color: #339;
}

ul.news {
  display: list;
  list-style-type: circle;
  padding-left: 1.5em;
}

.welcome {
  font-weight: bolder;
  margin-bottom: 1em;
}

.about { 
  font-size: small;
}

h2 {
  font-size: medium;
  margin: 1em 0em 0em 0em;
}

h3 {
  font-size: small;
  margin: 1em 0em 0em 0em;
}

p {
  color: black;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

td { 
  font-size: small;
}

p.footnotes {
  font-size: x-small;
}

.asynchMessage {
  background: #ddddff;
  width: 70%
}

.asynchMessage-text { 
  margin-left: 1em;
}

.chatMessage { 
  background: #ddf;
  border-width: 1px;
  border: solid;
  border-color: #00f;
  width: 100%
}

.chatMessageSent { 
  background: #dfd;
  border-width: 1px;
  border: solid;
  border-color: #00f;
  width: 100%
}

.statusError {
  color: red;
}

.statusSuccess {
  color: green;
}

.intro { 
  width: 70%;
  border-width: 2px;
  border-style: solid;
  padding: 0.3em;
  background: #ffa;
  margin-bottom: 1em;
  margin-top: 1em;
}


.conference-name { 
  color: #339;
}

.letterbox-name {
  color: #169;
}

.errorData {
  border-style: solid;
  border-width: 2px;
  border-color: #00f;
  width: 100%;
  background-color: #ccf;
  padding-left: 0.2em;
}

.boxed {
  border-style: solid;
  border-width: 1px;
  border-color: #88f;
  padding: 1em 1em 1em 1em;
}

.unread-summary {
  margin-bottom: 1em;
}

.countdown { 
  font-size: x-small;
}

.standard-boxes {
  margin-top: 1em;
}

.mo {
  color: #666666;
}

.mi {
  color: #333333;
  font-weight: bolder;  
}

p.header {
  margin-left: 0em;
  color: black;
  background: lightblue;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  font-size: medium;
}

.footer {
  text-align: center;
  font-size: xx-small;
}

.text {
  font-size: 10pt;
  background: white;
  border-style: solid;
  border-width: 1px;
  border-color: #339;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.4em;
}

.text-body {
  font-size: 8pt;
  margin: 0em;
}

.text-comment-list {
  margin-bottom: 1em;
}

.text-commands {
  margin-top: 1em;
}

sup {
  font-size: xx-small;
}

b.example { color: green; background-color: white; }

pre.example {
  color: black;
  background: lightgrey;
  margin-left: 1em;
  white-space: pre;
}

.toc {
  color: black;
  background: yellow;
}

.treeView { 
  font-size: 10px;
  margin-left: 1em;
  padding: 0;
}

input { font: 8pt/11pt verdana, sans-serif; }
select { font: 8pt/11pt verdana, sans-serif; }

input.mo {
  border-style: solid;
  border-width: 1px;
  border-color: #999977;
  width: 300px;
  color: #000000;
  font-family: verdana, arial;
  font-size: 10px;
}

/* Context menu Script- ? Dynamic Drive (www.dynamicdrive.com) Last updated: 01/08/22
For full source code and Terms Of Use, visit http://www.dynamicdrive.com */

.skin0{
position:absolute;
width:165px;
border:1px solid black;
background-color:menu;
font-family:Verdana;
line-height:20px;
cursor:default;
font-size:12px;
z-index:100;
visibility:hidden;
}

.menuitems{
padding-left:10px;
padding-right:10px;
}


