<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.lindev.androkom"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<!--  List of conferences with unread texts -->
        <activity android:name=".ConferenceList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <!--  A single conference -->
         <activity android:name=".Conference"       
                   android:label="Conference">
            <!-- This filter says that we can view a conference -->
            <intent-filter android:label="edit">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <data android:mimeType="vnd.android.cursor.item/vnd.google.note" />
        </activity>
        
        <!--  Connection to the KOM server -->
        <service android:name=".KomServer"
        		 android:label="@string/app_name">        	
        </service>        



    </application>


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest> 